.twoPartContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(200,200,200,0.3);
    justify-content: center;
    align-content: center;
}

.threePartContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(200,200,200,0.3);
    justify-content: center;
    align-content: center;
}

.twoPartMenu {
    position: relative;
    height: calc(100vh - 50px);
    background-image: url(./images/background_2part.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc((100vh - 50px) * (384 / 640));

    .topContainer {
        display: flex;
        flex-direction: column;
    }

    .title {
        display: flex;
        justify-content: center;
        font-family: 'BetterPixels';
        color: black;
        font-size: 10vh;
        position: relative;
        width: 100%;
        top: 3vh;
        flex-basis: 80%;
    }

    .close {
        flex-basis: 10%;
        background-image: url(./images/close.png);
    }

    .help {
        flex-basis: 10%;
        background-image: url(./images/close.png);
    }
}

.threePartMenu {
    position: fixed;
    height: calc(100vh - 20px);
    background-image: url(./images/background_3part.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc((100vh - 20px) * (384 / 640));
    top: 100px;
    zoom: 75%;

    .topContainer {
        display: flex;
        flex-direction: row;
        width: calc(100% + 40px);
        left: -20px;
        position: relative;
        height: 17vh;
        margin-bottom: 3vh;
        top: -20px;
    }

    .middleContainer {
        display: flex;
        flex-direction: row;
        width: calc(100% - 50px);
        left: 10px;
        padding: 0 2vh;
        position: relative;
        height: 25vh;
        margin-bottom: 4vh;

        .swiperContainer {
            height: calc(100% - 2vh);
            width: 100%;

            .swiperItem {
                width: 100%;
            }
        }

        .alice-carousel__dots-item.__active {
            background-color: red;
        }

        .alice-carousel__prev-btn {
            display: none;
        }

        .alice-carousel__next-btn {
            display: none;
        }
    }

    .bottomContainer {
        display: flex;
        flex-direction: row;
        width: calc(100% - 50px);
        left: 10px;
        padding: 0 2vh;
        position: relative;
        height: 46vh;
    }

    .title {
        display: flex;
        justify-content: center;
        font-family: 'BetterPixels';
        color: black;
        font-size: 10vh;
        position: relative;
        width: 100%;
        top: 3vh;
        flex-basis: 80%;
    }

    .close {
        flex-basis: 15%;
        background-image: url(./images/close.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top: -10px;
    }

    .help {
        flex-basis: 15%;
        background-image: url(./images/help.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top: -10px;
    }
}

.twoPart {
    position: absolute;
    height: calc(100vh - 50px);
}
